################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Debug
/ipch
/KotoParser/Debug
/KotoParser.Tests/Debug
/.vs/KotoParser/v14
/KotoParser/x64/Debug
/KotoParser.Tests/x64/Debug
/x64/Debug
/KotoParser.VC.db
/KotoParser.VC.VC.opendb
